.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
  color: #3b71ca !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}



.scroll-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 20px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.product-card {
  display: inline-block;
  width: 250px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.product-card p {
  font-size: 1rem;
  color: #666;
}